.version.index /* version checker */
{
	color: #0000FF;
	background-color: #535937;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 580px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u139
{
	z-index: 22;
	width: 110px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 466px;
	left: 24px;
}

#ppu75
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -5px;
	margin-left: 184px;
}

#pu75
{
	width: 0.01px;
}

#u75
{
	z-index: 2;
	width: 312px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 140px;
}

#u95
{
	z-index: 4;
	width: 592px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u104-6
{
	z-index: 6;
	width: 480px;
	min-height: 92px;
	background-color: transparent;
	color: #FF0C12;
	line-height: 72px;
	text-align: center;
	font-size: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 64px;
}

#u125-4
{
	z-index: 12;
	width: 55px;
	background-color: transparent;
	color: #FFFFFF;
	-webkit-transform: matrix(0.9659,-0.2588,0.2588,0.9659,-1,7);
	-ms-transform: matrix(0.9659,-0.2588,0.2588,0.9659,-1,7);
	transform: matrix(0.9659,-0.2588,0.2588,0.9659,-1,7);
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 268px;
}

#u132
{
	z-index: 21;
	width: 524px;
	min-height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 441px;
	left: 34px;
}

#u126-5
{
	z-index: 16;
	width: 142px;
	min-height: 20px;
	background-color: transparent;
	color: #ED1C24;
	margin-left: 225px;
	margin-top: 3px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

